.right {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: #a8b2d1;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.anchor{
    writing-mode: vertical-lr;
    padding: 12px 10px;
    font-family: var(--font-mono);
    font-size: 12px;
    position: relative;
    top:0;
    transition: top 0.2s ease-in-out;
}

.anchor:hover{
    color:  #64ffda;
    top:-10px;
}

.email::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #a8b2d1;
}