.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.heading{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px,5vw,32px);
    white-space: nowrap;
    color:#ccd6f6;
}

.heading::before{
    content: '02.';
    margin-right: 10px;
    position: relative;
    color: #64ffda;
}

.heading::after{
    content: "";
    display: block;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #233554;
}
