.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height:100vh;
}

.heading{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px,5vw,32px);
    white-space: nowrap;
    color:#ccd6f6;
}

.heading::before{
    content: '02.';
    margin-right: 10px;
    position: relative;
    color: #64ffda;
}

.heading::after{
    content: "";
    display: block;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #233554;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
    text-align: right;
    margin-bottom: 80px;
}

.left-case{
    text-align: left;
}

.name{
    color:var(--ligthest-slate);
    font-size: 24px;
    margin-bottom: 20px;
}

.feature {
    color: var(--green);
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: var(--font-mono);
}

.description{
    color: #a8b2d1;
    font-size: 18px;
    font-family: var(--font-sans);
    margin-top: 10px;
    margin-bottom: 20px;
}

.anchorImage{
    width: 100%;
    height: 100%;
    background-color: var(--green);
    border-radius: var(--border-radius);
    vertical-align: middle;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.anchorImage::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px;
    z-index: 3;
    background-color: var(--navy);
    mix-blend-mode: screen;
}

.image {
    bottom: 0;
    height: 100%;
    width: 100%;
    left: 0;
    margin: 0;
    max-width: none;
    padding: 0;
    position: absolute;
    background-clip: content-box;
    right: 0;
    top: 0;
}

.containerImage{
    width:640px;
    height: 320px;
    position: relative;
}

.list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    color:#a8b2d1;
    font-size: 16px;
    font-family: var(--font-mono);
    margin-bottom: 15px;
}

.listItem{
    margin-left: 20px;
}

.listIcon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.leftCase{
    justify-content: flex-start;
    margin-right: 20px;
    margin-left: 0px;
}

.anchorGithub {
    display: inline-block;
    width:24px;
    height:24px;
    margin-right: 10px;
    background-color:transparent;
}

.anchorLink{
    display: inline-block;
    width:32px;
    height:32px;
    margin-right: 10px;
    background-color:transparent
}

.anchorLink:hover svg path {
    stroke: var(--green);
    stroke-width: 2px;
}

.anchorGithub:hover svg path {
    fill: var(--green);
}
