.section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.heading{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px,5vw,32px);
    white-space: nowrap;
    color:#ccd6f6;
}

.heading::before{
    content: '01.';
    margin-right: 10px;
    position: relative;
    color: #64ffda;
}

.heading::after{
    content: "";
    display: block;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #233554;
}

.body{
    color:#8892b0;
    font-size: 20px;
    font-family: var(--font-sans);
    margin-bottom: 15px;
}

.list{
    display: grid;
    grid-template-columns: repeat(2, 160px);
    gap: 0 10px;
    margin: 20px 0px 0px;
    list-style: none;
}

.listItem::before{
    content: "▹ ";
    color:#64ffda;
}

.listItem{
    margin-bottom: 10px;
    font-family: var(--font-mono);
    font-size: 14px;
    color:#8892b0;
}

.anchor{
    color:#64ffda;
}

.anchor::before{
    content: " ";
}